# Using Panadas to Create HTML Table Code
## Import weather data csv, create dataframe then output table to txt file

In [1]:
import csv
import pandas as pd

In [2]:
path = 'Resources/cities_data.csv'
df = pd.read_csv(path)
df.dropna(axis=0, how = 'any', inplace = True)
df.drop_duplicates(subset = 'City', inplace = True)
df.reset_index(drop=True, inplace = True)
# df.set_index('City_ID', inplace = True)
df.rename(columns={'Latitude': 'Lat', 'Longitude':'Lng', 'Max_Temp(F)':'Temp(F)', 'Humidity(%)':'Humidity',
                  'Wind_Speed(MPH)': 'Wind(MPH)'}, inplace = True)

In [3]:
df['Lat'] = df['Lat'].map("{:,.1f}".format)
df['Lng'] = df['Lng'].map("{:,.1f}".format)
df['Temp(F)'] = df['Temp(F)'].map("{:,.1f}".format)
df['Wind(MPH)'] = df['Wind(MPH)'].map("{:,.1f}".format)
df.head(3)

,City_ID,City,Country,Lat,Lng,Temp(F),Humidity,Cloudiness,Wind(MPH)
0,1,marawi,sd,18.5,31.8,85.3,17,7,12.8
1,2,butaritari,ki,3.1,172.8,82.1,83,68,20.5
2,3,balkanabat,tm,39.5,54.4,55.0,63,1,7.6

In [4]:
city_html_table = df.to_html(bold_rows = True, header = True, index = False, index_names = False)

In [5]:
city_data_html = open('data.html', 'w')
city_data_html.write(city_html_table)
city_data_html.close()